[package]
name = "scheduler"
version = "0.1.0"
edition = "2021"

[dependencies]
tokio = { version = "1.0", features = ["full"] }
eyre = "0.6"
tracing = "0.1"

# Workspace dependencies
common = { path = "../common" }
